body{
  margin: 0 auto;
}

.background{
  background-image: url(./img/sky_clouds.jpg);
  background-position: center;
  height: 500px;
  width: 1000;
  left: 0;
}
#background2{

}
.clouds{
  background-image: url(./img/cloud.jpg);
  background-position:center;
  height: 500px;
}

/*#data{
  height: 150px;
  width: 100%;
  background-color: silver;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
  left: 200px;
}*/

.air{
  position: relative;
  top: 50px;
  left: 50px;
  height: 10%;
}

.obstacles{
  background-image: url(./img/bird-easy.png);
  background-size: cover;
  height: 50px;
  width: 80px;
  position: absolute;
}

.misil{
  background-color: black;
  height: 5px;
  width: 10px;
  position: absolute;
}
