body{
  margin: 0 auto;
}

.background{
  background-color: lightblue;
  height: 400px;
  width: 100%;
}

.air{
  background-color:;
  position: relative;
  top: 50px;
  left: 50px;
  height: 40px;
}
