body{
  margin: 0 auto;
}

.background{
  background-image: url(./img/sky_clouds.jpg);
  background-position: center;
  height: 500px;
  width: 1000;
  left: 0;
}
#background2{

}
.clouds{
  background-image: url(./img/cloud.jpg);
  background-position:center;
  height: 500px;
}

#points{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 70px;
  background: darkblue;
  color: white;
  border-radius: 10px;
  text-align: center;
  line-height: 45px;

}

.air{
  position: relative;
  top: 50px;
  left: 50px;
  height: 10%;
}

.obstacles{
  background-image: url(./img/tweevil.png);
  background-size: cover;
  height: 50px;
  width: 80px;
  position: absolute;
}

.misil{
  background-color: black;
  height: 5px;
  width: 10px;
  position: absolute;
}

a{
  position: absolute;
  height: 400px;
  width: 200px;
  left: 400px;
  top: 200px;
  font-size: 100px;
  text-decoration: none;
  color: black;
}

#loose{
  position: fixed;
  height: 400px;
  width: 200px;
  left: 200px;
  top: .20px;
  font-size: 100px;
  text-decoration: none;
  color: black;
}

.looseh{
  display: none;
}
